



<div class="container mt-5 center center-div">
  <h3>Sorted by Last Active</h3>
    <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
        <div class="form-group px-2">
          <label for="department"><b>Choose Department:&nbsp;&nbsp;&nbsp;</b></label>
          <select [(ngModel)]="userParams.department" class="form-control ml-1" style="width: 130px" id="department" name="department">
            <option *ngFor="let department of departmentList" [value]="department.value">
              {{department.display}}
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:10px">Search</button>
        <!-- <button type="button" class="btn btn-info" (click)="resetFilters()" style="margin-left:10px">Reset Filter</button> -->
      
      </form>
      <br>


  <br /><br />
  <div class="row">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">
  <pagination 
  [boundaryLinks]="true" 
  [totalItems]="pagination.totalItems"
  [itemsPerPage]="pagination.itemsPerPage"
  [(ngModel)]="pagination.currentPage"
  (pageChanged)="pageChanged($event)"
  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

</pagination>
</div>
